@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="header-container">
    <div class="title-container">
        <div class="logo-section">
            <a href="javascript:;">
                <i class="material-icons">spa</i>
            </a>
        </div>
        <div class="text-section">
            <h1><a href="javascript:;">Chaka</a></h1>
        </div>
    </div>
    <div class="head-nav-container">
        <div class="left-section">
            <div class="toggle-btn">
                <a href="javascript:;">
                    <i class="material-icons">menu</i>
                </a>
            </div>
        </div>
        <div class="right-section">
            <ul class="head-nav-items">
                <li>
                    <a href="javascript:;">
                        <i class="material-icons">notifications</i>
                    </a>
                </li>
                <!-- <li>
                    <a href="javascript:;" data-toggle="tooltip" data-placement="bottom" title="Full Screen">
                        <i class="material-icons">fullscreen</i>
                    </a>
                </li> -->
                <li>
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="material-icons">mail</i>
                    </a>
                    <div class="dropdown-menu">
                        <div class="dd-header">
                            <span>Incoming Request</span>
                        </div>
                        <div class="dd-body">
                            <div class="dd-item">
                                <a href="javascript:;">
                                    <span class="top">
                                        <span class="req-title">Attendance Correction</span>
                                        <span class="notif-counter">3</span>
                                    </span>
                                    <span class="bottom">
                                        <span class="up-time">
                                            Last Update: <span>23/10/2018 13:14</span>
                                        </span>
                                    </span>
                                </a>
                            </div>
                            <div class="dd-item">
                                <a href="javascript:;">
                                    <span class="top">
                                        <span class="req-title">Attendance Correction</span>
                                        <span class="notif-counter">3</span>
                                    </span>
                                    <span class="bottom">
                                        <span class="up-time">
                                            Last Update: <span>23/10/2018 13:14</span>
                                        </span>
                                    </span>
                                </a>
                            </div>
                            <div class="dd-item">
                                <a href="javascript:;">
                                    <span class="top">
                                        <span class="req-title">Attendance Correction</span>
                                        <span class="notif-counter">3</span>
                                    </span>
                                    <span class="bottom">
                                        <span class="up-time">
                                            Last Update: <span>23/10/2018 13:14</span>
                                        </span>
                                    </span>
                                </a>
                            </div>
                        </div>
                        <div class="dd-footer">
                            <a href="javascript:;">ALL</a>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="javascript:;">
                        <i class="material-icons">settings</i>
                    </a>
                </li>
                <li class="dropdown">
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="~/images/img_user.png" width="30px" alt="user-thumbnail">
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Profil</a>
                        <a class="dropdown-item" href="#">Sign Out</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
