@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="side-nav-container">
    <ul class="side-nav-wrapper">
        <li class="side-nav-item">
            <a href="./index.html">
                <i class="material-icons">folder_open</i>
                Dashboard
            </a>
        </li>
        <li class="side-nav-item">
            <a href="javascript:;" class="collapsible-trigger">
                <i class="material-icons">folder_open</i>
                Tables
                <i class="material-icons grow-left arrow">keyboard_arrow_down</i>
            </a>
            <ul class="collapsible-target">
                <li class="side-nav-item">
                    <a href="./tables/common-table.html">
                        <i class="material-icons">folder_open</i>
                        Common Table
                    </a>
                </li>
                <li class="side-nav-item">
                    <a href="./tables/data-table.html">
                        <i class="material-icons">folder_open</i>
                        Data Table
                    </a>
                </li>
            </ul>
        </li>
        <li class="side-nav-item">
            <a href="javascript:;" class="collapsible-trigger">
                <i class="material-icons">folder_open</i>
                Forms
                <i class="material-icons grow-left arrow">keyboard_arrow_down</i>
            </a>
            <ul class="collapsible-target">
                <li class="side-nav-item">
                    <a href="./forms/form-elements.html">
                        <i class="material-icons">folder_open</i>
                        Form Elements
                    </a>
                </li>
                <li class="side-nav-item">
                    <a href="./forms/form-layouts.html">
                        <i class="material-icons">folder_open</i>
                        Form Layouts
                    </a>
                </li>
            </ul>
        </li>
        <li class="side-nav-item">
            <a href="javascript:;" class="collapsible-trigger">
                <i class="material-icons">folder_open</i>
                UI Component
                <i class="material-icons grow-left arrow">keyboard_arrow_down</i>
            </a>
            <ul class="collapsible-target">
                <li class="side-nav-item">
                    <a href="./ui/typography.html">
                        <i class="material-icons">folder_open</i>
                        Typography
                    </a>
                </li>
                <li class="side-nav-item">
                    <a href="./ui/alert.html">
                        <i class="material-icons">folder_open</i>
                        Alert
                    </a>
                </li>
                <li class="side-nav-item">
                    <a href="./ui/badge-progress.html">
                        <i class="material-icons">folder_open</i>
                        Badge & Progress
                    </a>
                </li>
                <li class="side-nav-item">
                    <a href="./ui/button.html">
                        <i class="material-icons">folder_open</i>
                        Button
                    </a>
                </li>
                <li class="side-nav-item">
                    <a href="./ui/collapse-tabs.html">
                        <i class="material-icons">folder_open</i>
                        Collapse & Tabs
                    </a>
                </li>
                <li class="side-nav-item">
                    <a href="./ui/colors.html">
                        <i class="material-icons">folder_open</i>
                        Colors
                    </a>
                </li>
                <li class="side-nav-item">
                    <a href="./ui/dropdown.html">
                        <i class="material-icons">folder_open</i>
                        Dropdown
                    </a>
                </li>
                <li class="side-nav-item">
                    <a href="./ui/list-group.html">
                        <i class="material-icons">folder_open</i>
                        List Group
                    </a>
                </li>
                <li class="side-nav-item">
                    <a href="./ui/modal.html">
                        <i class="material-icons">folder_open</i>
                        Modal
                    </a>
                </li>
                <li class="side-nav-item">
                    <a href="./ui/pagination.html">
                        <i class="material-icons">folder_open</i>
                        Pagination
                    </a>
                </li>
                <li class="side-nav-item">
                    <a href="./ui/popovers.html">
                        <i class="material-icons">folder_open</i>
                        Popovers
                    </a>
                </li>
                <li class="side-nav-item">
                    <a href="./ui/notifications.html">
                        <i class="material-icons">folder_open</i>
                        Notifications
                    </a>
                </li>
                <li class="side-nav-item">
                    <a href="./ui/hierarchy.html">
                        <i class="material-icons">folder_open</i>
                        Hierarchy
                    </a>
                </li>
            </ul>
        </li>
        <li class="side-nav-item">
            <a href="javascript:;" class="collapsible-trigger">
                <i class="material-icons">folder_open</i>
                Pages
                <i class="material-icons grow-left arrow">keyboard_arrow_down</i>
            </a>
            <ul class="collapsible-target">
                <li class="side-nav-item">
                    <a href="./pages/login.html">
                        <i class="material-icons">folder_open</i>
                        Login Page
                    </a>
                </li>
                <li class="side-nav-item">
                    <a href="./pages/register.html">
                        <i class="material-icons">folder_open</i>
                        Register Page
                    </a>
                </li>
                <li class="side-nav-item">
                    <a href="./pages/404.html">
                        <i class="material-icons">folder_open</i>
                        Error 404
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>